# Python Basics
### E1.9: Sets
#### NOTE: Unordered and UnIndexed

In [25]:
set1 = {"John", 12, 100.0}

In [26]:
print(set1)

{100.0, 'John', 12}

In [27]:
set1.add("JHonny")

In [28]:
print(set1)

{100.0, 'John', 12, 'JHonny'}

In [30]:
set1.update(["Apple", "Oranges"])

In [31]:
print(set1)

{100.0, 12, 'Apple', 'John', 'Oranges', 'JHonny'}

In [32]:
for x in set1:
    print(x)

100.0
12
Apple
John
Oranges
JHonny

In [33]:
set1.pop()

100.0

In [34]:
set1.clear()

In [35]:
print(set1)

set()

In [36]:
set1 = {"John", 12, 100.0}

In [37]:
print(set1)

{100.0, 'John', 12}

In [38]:
len(set1)

3

In [39]:
set2 = {"John", 12, "Jhonny", 100.5}

In [40]:
print(set2)

{100.5, 'Jhonny', 'John', 12}

In [41]:
print(set1.union(set2))    # everything that is present without duplicating

{'Jhonny', 100.0, 'John', 100.5, 12}

In [43]:
print(set1.difference(set2))   # present in 1 but not in 2

{100.0}

In [44]:
print(set1.intersection(set2))

{'John', 12}

In [47]:
del set2

In [48]:
print(set2)

NameError: name 'set2' is not defined

In [49]:
set1

{100.0, 12, 'John'}

In [50]:
set1.remove(100.0)

In [51]:
print(set1)

{'John', 12}

In [53]:
set1.discard(100.0)