# Python Basics

### E1.8: Tuples

#### NOTE:  Ordered and Unchangeable

In [16]:
thisTuple = (1, "Here", 1.5)

In [17]:
print(thisTuple)

(1, 'Here', 1.5)

In [18]:
type(thisTuple)

tuple

In [19]:
thisTuple = ('Here',)

In [20]:
type(thisTuple)

tuple

In [21]:
Tuple = tuple(("John", 12, 100.0))

In [22]:
print(Tuple)

('John', 12, 100.0)

## Indexing / Accessing

In [23]:
Tuple[0]

'John'

In [24]:
Tuple[1]

12

In [26]:
Tuple[0 : 3]

('John', 12, 100.0)

In [27]:
Tuple[0] = "Jhonny"

TypeError: 'tuple' object does not support item assignment

### trick to change

In [28]:
Tuple = tuple(("John",))

In [29]:
print(Tuple)

('John',)

In [31]:
y = list(Tuple)
y.append(12)
Tuple = tuple(y)

In [32]:
Tuple

('John', 12)

In [34]:
t1 = Tuple[0: 1] + ("Jhonny",) + Tuple[1:]

In [35]:
t1

('John', 'Jhonny', 12)

In [36]:
for i in Tuple:
    print(i)

John
12

In [37]:
Tuple.index("John")

0

In [38]:
T2 = tuple(("John", "John", "Jhonny"))

In [39]:
T2.count('John')

2